<%- include('header') %>

<div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <h3>Welcome <%- user %> in <%- game %>:</h3>
    <div class="row m-0 p-0">
        <div class="col-8">
            <label for="kerdesek">Kérdés:</label>
            <div class="form-control" id="kerdesek" style="height:auto;"></div>
        </div>

        <div class="col-4">
            <label for="usersList">Játékosok:</label>
            <div class="form-control" id="usersList" style="height:auto;"></div>
        </div>
    </div>

    <div class="row m-0 p-0 mb-3">
        <div class="col-10">
            <label for="valasz">Válasz:</label>
            <input type="text" class="form-control" id="valasz" placeholder="">
        </div>
        <button class="btn btn-primary col-2" id="sendBtn">Küldés</button>
    </div>
    
    <a href="/" class="btn btn-danger" id="leaveBtn">Szobából kilépés...</a>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../assets/game.js"></script>

<%- include('footer') %>
